<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Custom Login Form Styling with CSS3" />
        <meta name="keywords" content="css3, login, form, custom, input, submit, button, html5, placeholder" />

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../materiais/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../materiais/css/adm-lider.css" />

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src='../materiais/js/adm-lider.js'></script>
	</head>

	<body>
		<div class=container>
			<section class="main">
				<form action="{{.Id}}" method="post" class="form-1">
					<p class="field">
						<input type="text" name="nome" placeholder="Nome completo" value="{{.Nome}}" class="{{if .MsgNome}}erro{{end}}"/> 
						<i class="icon-large"><img src="../materiais/imagens/item{{if .MsgNome}}-com-erro{{end}}.png"></i>
					</p> <div class="erro">{{.MsgNome}}</div>

					<p class="field">
						<input type="text" name="telefone-residencial" placeholder="Telefone residencial" value="{{.TelefoneResidencial}}" class="{{if or .MsgContato .MsgTelefoneResidencial}}erro{{end}}"/>
						<i class="icon-large"><img src="../materiais/imagens/item{{if or .MsgContato .MsgTelefoneResidencial}}-com-erro{{end}}.png"></i>
					</p> <div class="erro">{{.MsgTelefoneResidencial}}</div>

					<p class="field">
						<input type="text" name="telefone-celular" placeholder="Telefone celular" value="{{.TelefoneCelular}}" class="{{if or .MsgContato .MsgTelefoneCelular}}erro{{end}}"/>
						<i class="icon-large"><img src="../materiais/imagens/item{{if or .MsgContato .MsgTelefoneCelular}}-com-erro{{end}}.png"></i>
					</p> {{.MsgTelefoneCelular}}
					<div class="erro">{{.MsgContato}}</div>

					Operadora:
					<label for="Claro"><input type="radio" name="operadora" id="Claro" value="Claro" {{if iguais .Operadora "Claro"}}checked="checked"{{end}}/> Claro </label>
					<label for="Oi"><input type="radio" name="operadora" id="Oi"  value="Oi" {{if iguais .Operadora "Oi"}}checked="checked"{{end}}/> Oi </label>
					<label for="TIM"><input type="radio" name="operadora" id="TIM"  value="TIM" {{if iguais .Operadora "TIM"}}checked="checked"{{end}}/> TIM </label>
					<label for="Vivo"><input type="radio" name="operadora" id="Vivo"  value="Vivo" {{if iguais .Operadora "Vivo"}}checked="checked"{{end}}/> Vivo </label>
					<label for="Outra"><input type="radio" name="operadora" id="Outra" value="Outra" {{if iguais .Operadora "Outra"}}checked="checked"{{end}}/> Outra </label>

					<br/>
					<br/>

					<p class="field">
						<input type="text" name="e-mail" placeholder="E-mail" value="{{.Email}}" class="{{if or .MsgContato .MsgEmail}}erro{{end}}"/>
						<i class="icon-large"><img src="../materiais/imagens/item{{if or .MsgContato .MsgEmail}}-com-erro{{end}}.png"></i>
					</p> {{if .MsgEmail}}<div class="erro">{{.MsgEmail}}</div>{{end}}<br/>

					Turnos: <div id="turnos">
						{{range turnos}}
						<input id="turno-{{.Turno.Id}}" type="checkbox" name="turnos" value="{{.Turno.Id}}" {{if .Selecionado}}checked="checked"{{end}} style="margin-top: 5px; margin-right: 5px;">
						<label for="turno-{{.Turno.Id}}" style="float: none; padding: 0; background: transparent; border-radius: 0; box-shadow: none; line-height: 26px;"> {{.Turno.String}}</label> <br/>

						{{end}}
					</div>{{if .MsgTurnos}}<div class="erro">{{.MsgTurnos}}</div>{{end}}

					<br/>

		
					<br/>

					Esquina: <span id="exibicao-esquina">{{.Esquina.Cruzamento}}{{if not .Esquina.Cruzamento}}nenhuma esquina selecionada{{end}}</span><input type="button" id="alterar" value="Alterar">
					<input id="esquina" type="hidden" name="esquina" value="{{.Esquina.Id}}"/>
					<div id="selecionar-esquina" style="display: none">
						Zona:
						<p class="field">
							<select id="zona" name="zona">
								{{range zonas}}
								<option value="{{.Zona.Id}}" {{if .Selecionado}}selected="selected"{{end}}>{{.Zona.Nome}}</option>
								{{end}}
							</select> {{.MsgZona}}
						</p>

						<br/>
						<br/>

						<p class="field">
							<input type="text" name="filtro" class="filtro" placeholder="Filtrar resultados"/>
						</p>

						<br/>

						<div id="esquinas-exibidas"></div>
					</div>

					<br/>
					<br/>

					<button type="submit" id="atualizar"/>Atualizar</button>
				</form> 
			</section>
		</div>
	</body>
</html>
