<!DOCTYPE html>
<html>
	<body>
		<form action="adm/líder/{{.Id}}" method="POST">
			Nome: <input type="text" name="nome" value="{{.Nome}}" class="{{if .MsgNome}}erro{{end}}"/> {{.MsgNome}}<br/>

			Telefone residencial: <input type="text" name="telefone-residencial" value="{{.TelefoneResidencial}}" class="{{if or .MsgContato .MsgTelefoneResidencial}}erro{{end}}"/> {{.MsgTelefoneResidencial}}<br/>

			Telefone celular: <input type="text" name="telefone-celular" value="{{.TelefoneCelular}}" class="{{if or .MsgContato .MsgTelefoneCelular}}erro{{end}}"/> {{.MsgTelefoneCelular}}

			Operadora:
			<select name="operadora">
				<option value="Claro" {{if iguais .Operadora "Claro"}}selected="selected"{{end}}>Claro</option>
				<option value="Oi" {{if iguais .Operadora "Oi"}}selected="selected"{{end}}>Oi</option>
				<option value="TIM" {{if iguais .Operadora "TIM"}}selected="selected"{{end}}>TIM</option>
				<option value="Vivo" {{if iguais .Operadora "Vivo"}}selected="selected"{{end}}>Vivo</option>
				<option value="Outra" {{if iguais .Operadora "Outra"}}selected="selected"{{end}}>Outra</option>
			</select>

			<br/>

			E-mail: <input type="text" name="e-mail" value="{{.Email}}" class="{{if or .MsgContato .MsgEmail}}erro{{end}}"/> {{.MsgEmail}}<br/>
			<div>{{.MsgContato}}</div>

			Turnos: <div class="{{if .MsgTurnos}}erro{{end}}">{{range turnos}}
			<br/><input type="checkbox" name="turnos" value="{{.Turno.Id}}" {{if .Selecionado}}checked="checked"{{end}}> {{.Turno.String}}
			{{end}}</div>{{if .MsgTurnos}}<div>{{.MsgTurnos}}</div>{{end}}

			<br/>

			Zona:
			<select name="zona">
				{{range zonas}}
				<option value="{{.Zona.Id}}" {{if .Selecionado}}selected="selected"{{end}}>{{.Zona.Nome}}</option>
				{{end}}
			</select> {{.MsgZona}}
			
			<br/>

			Esquina: <div id="esquina">{{.Esquina.Cruzamento}}</div><button type="button">Alterar</button>

			<br/>
			<br/>

			<input type="submit" value="Enviar"/>
		</form> 

		<div class="selecionar-esquina">
			Zona:
			<select name="zona">
				{{range zonas}} <option value="{{.Zona.Id}}" {{if .Selecionado}}selected="selected"{{end}}>{{.Zona.Nome}}</option> {{end}}
			</select>

			<br/>

			<input type="text" name="filtro" class="filtro"/>

			<br/>

			<div id="esquinas-exibidas"></div>
		</div>
	</body>
</html>
