<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Custom Login Form Styling with CSS3" />
        <meta name="keywords" content="css3, login, form, custom, input, submit, button, html5, placeholder" />

        <link rel="stylesheet" type="text/css" href="materiais/css/style.css" />
    </head>

	<body>
        <div class="container">
			<section class="main">
				<form action="esquinas" method="POST" class="form-1">
					<p class="field">
						<input type="text" name="cruzamento" placeholder="Cruzamento" value="{{.Cruzamento}}" class="{{if .MsgCruzamento}}erro{{end}}"/>
						<i class="icon-user icon-large"><img src="materiais/imagens/item.png"></i>					
					</p>
					{{if .MsgCruzamento}}<div class="erro">{{.MsgCruzamento}}</div>{{end}}
					<p class="field">
						<input type="text" name="url" placeholder="Localização" value="{{.Localização}}" class="{{if .MsgLocalização}}erro{{end}}"/>
						<i class="icon-user icon-large"><img src="materiais/imagens/item.png"></i>					
					</p>
					{{if .MsgLocalização}}<div class="erro">{{.MsgLocalização}}</div>{{end}}

					Prioridade:
					<label for="baixa"><input type="radio" name="prioridade" id="baixa" value="baixa" {{if iguais .Prioridade "baixa"}}checked="checked"{{end}}{{if iguais .Prioridade ""}}checked="checked"{{end}}/> baixa </label>
					<label for="alta"><input type="radio" name="prioridade" id="alta" value="alta" {{if iguais .Prioridade "alta"}}checked="checked"{{end}}/> alta </label>

					<br/>
					<br/>

					Zona:
					<p class="field">
						<select name="zona">
							{{range zonas}}
							<option value="{{.Zona.Id}}" {{if .Selecionado}}selected="selected"{{end}}>{{.Zona.Nome}}</option>
							{{end}}
						</select>
						<i class="icon-lock icon-large"><img src="materiais/imagens/item.png"></i>
					</p>
					{{if .MsgZona}}<div class="erro">{{.MsgZona}}</div>{{end}}
					<br/>
					<br/>
					<button type="submit" id="enviar"/>Enviar</button>
				</form>
			</section>
		</div>
	</body>
</html>
