<!DOCTYPE html>
<html>
	<body>
		<form action="esquinas" method="POST">
			Cruzamento: <input type="text" name="cruzamento" value="{{.Cruzamento}}" class="{{if .MsgCruzamento}}erro{{end}}"/> {{.MsgCruzamento}}<br/>
			Localização: <input type="text" name="url" value="{{.Localização}}" class="{{if .MsgLocalização}}erro{{end}}"/> {{.MsgLocalização}}<br/>
			Zona:
			<select name="zona">
				{{range zonas}}
				<option value="{{.Zona.Id}}" {{if .Selecionado}}selected="selected"{{end}}>{{.Zona.Nome}}</option>
				{{end}}
			</select> {{.MsgZona}}<br/>
			<br/>
			<input type="submit" value="Submit">
		</form> 
	</body>
</html>
