<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src='/materiais/lideres.js'></script>

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.css">
	</head>
	<body>
		<form action="lideres" method="POST" id="formulario">
			Nome completo: <input type="text" name="nome" value="{{.Nome}}" class="{{if .MsgNome}}erro{{end}}"/> {{.MsgNome}}<br/>

			Telefone residencial: <input type="text" name="telefone-residencial" value="{{.TelefoneResidencial}}" class="{{if or .MsgContato .MsgTelefoneResidencial}}erro{{end}}"/> {{.MsgTelefoneResidencial}}<br/>

			Telefone celular: <input type="text" name="telefone-celular" value="{{.TelefoneCelular}}" class="{{if or .MsgContato .MsgTelefoneCelular}}erro{{end}}"/> {{.MsgTelefoneCelular}}

			Operadora:
			<select name="operadora">
				<option value="" {{if iguais .Operadora ""}}selected="selected"{{end}}></option>
				<option value="Claro" {{if iguais .Operadora "Claro"}}selected="selected"{{end}}>Claro</option>
				<option value="Oi" {{if iguais .Operadora "Oi"}}selected="selected"{{end}}>Oi</option>
				<option value="TIM" {{if iguais .Operadora "TIM"}}selected="selected"{{end}}>TIM</option>
				<option value="Vivo" {{if iguais .Operadora "Vivo"}}selected="selected"{{end}}>Vivo</option>
				<option value="Outra" {{if iguais .Operadora "Outra"}}selected="selected"{{end}}>Outra</option>
			</select>
			<div>{{.MsgContato}}</div>

			<br/>

			E-mail: <input type="text" name="e-mail" value="{{.Email}}" class="{{if or .MsgContato .MsgEmail}}erro{{end}}"/> {{.MsgEmail}}<br/>

			Turnos: <div id="turnos" class="{{if .MsgTurnos}}erro{{end}}">
				{{range turnos}}
				<br/><input id="turno-{{.Turno.Id}}" type="checkbox" name="turnos" value="{{.Turno.Id}}" {{if .Selecionado}}checked="checked"{{end}}> <label for="turno-{{.Turno.Id}}">{{.Turno.String}}</label>
				{{end}}
			</div>{{if .MsgTurnos}}<div>{{.MsgTurnos}}</div>{{end}}

			<br/>

			Zona:
			<select id="zona" name="zona">
				{{range zonas}}
				<option value="{{.Zona.Id}}" {{if .Selecionado}}selected="selected"{{end}}>{{.Zona.Nome}}</option>
				{{end}}
			</select> {{.MsgZona}}
			
			<br/>
			<br/>

			<div id="confirmacao" style="display: none">
				Você escolheu participar dos seguintes turnos:
				<div id="confirmacao-turnos"></div>
				<br/>
				E selecionou <span id="confirmacao-zona"></span> como zona de atuação.
				<br/>
				<br/>
				Estes dados estão corretos?
			</div>

			<input type="submit" value="Enviar" id="enviar"/>
		</form> 
	</body>
</html>
